html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: auto;
    background-image: url(../images/HD-Cool-Blue-Wallpaper.jpg);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main .movie-card{
    padding-top: 2%;
    padding-left: 35%;
    padding-bottom: 2%;
}

main .card {
    width: 50%;
    border-style: outset;
    border-color: gray;
    border-width: 2px;
}

main .sortBy {
    display: inline-flex;
    padding-left: 1%;
    padding-top: 1%;
}

.addMovie-form-popup {
    display: none;
    position: absolute;
    top: 5%;
    left: 40%;
    padding: 0;
}

.addMovie-form-container {
    border-radius: 10px;
    max-width: 380px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: whitesmoke;
}

.addMovie-form-container input[type=text], .addMovie-form-container input[type=number], .addMovie-form-container textarea, .addMovie-form-container select {
    width: 100%;
    padding: 8px;
    margin: 10px 0 15px 0;
    border: none;
    resize: none;
    border-radius: 10px;
    background: lightgray;
}

.addMovie-form-container input[type=text]:focus, .addMovie-form-container input[type=number]:focus, .addMovie-form-container textarea:focus, .addMovie-form-container select:focus {
    background-color: aliceblue;
    outline: none;
}

.addMovie-form-container .btn {
    padding: 10px 10px;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.9;
}

